.wrapper {
    margin: 2rem;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.filters {
  position: fixed;
  width: 400px; /* Sets the width to half of the viewport height */
  height: 90%; /* Sets the height to the full viewport height */
  border: 1px solid #e3e3e3; /* Adds a border around the filters box */
  box-sizing: border-box; /* Ensures that padding and border are included in the width and height */
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 0 4rem;
  margin-top: 7rem;
}

#my_dataviz {
  padding: 3rem;
  border: 1px solid #e3e3e3;
  margin-left: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown {
    margin-bottom: 20px;
}

.select-style {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  min-width: 320px;
  width: auto; /* Adjust width as needed */
  -webkit-appearance: none; /* Removes default styling for select dropdown in WebKit browsers */
  -moz-appearance: none; /* Removes default styling for select dropdown in Firefox */
  appearance: none; /* Standard syntax to remove default arrow */
}

/* Optional: Style for dropdown arrow */
.select-style::-ms-expand {
  display: none; /* Hide the default arrow in IE */
}